        @media (max-width: 1200px) {
            .withdrawals__inner {
                display: block;
            }
            .withdrawals__col {
                max-width: 100%;
                margin-bottom: 20px;
            }
            .withdrawals__content-item {
                max-width: 490px;
            }
            .contact__form-row {
                display: block;
                input {
                    width: 100%;
                }
            }
        }
        
        @media (max-width: 1150px) {
            .footer__inner {
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .footer__col-adress {
                margin-bottom: 30px;
                min-width: 100%;
            }
            .footer__inner {
                padding-top: 80px;
                padding-bottom: 60px;
            }
            .header__text {
                display: none;
            }
        }
        
        @media (max-width: 900px) {
            .footer__col-social {
                margin-top: 30px;
                min-width: 100%;
            }
            .footer__inner {
                justify-content: space-around;
            }
            .product-one__tabs.settings__tabs {
                display: block;
            }
            .product-one__tabs.settings__tabs .tabs {
                margin-bottom: 20px;
                max-width: 100%;
            }
            .profile__inner {
                flex-direction: column;
            }
            .profile__aside {
                max-width: 100%;
                .aside__item {
                    width: 100%;
                }
            }
            .aside__item {
                width: 100%;
            }
            .profile__content {
                order: -1;
                margin-bottom: 20px;
            }
            .profile__aside-btn {
                margin: 0 auto;
                max-width: 300px;
            }
            .footer__social-link {
                text-align: center;
                & li+li {
                    margin-left: 40px;
                }
            }
        }
        
        @media (max-width: 890px) {
            .menu__list {
                display: none;
                position: absolute;
                background-color: $bg;
                top: 150px;
                left: 0;
                right: 0;
                z-index: 1;
                text-align: center;
                a {
                    display: block;
                    padding: 10px 0;
                    border-bottom: 1px solid #fff;
                }
                li {
                    display: block;
                    &+li {
                        margin-left: 0;
                    }
                    &:first-child {
                        border-top: 1px solid #fff;
                    }
                }
            }
            .menu__btn {
                display: block;
                width: 30px;
                cursor: pointer;
                div {
                    background-color: #fff;
                    height: 3px;
                    &+div {
                        margin-top: 5px;
                    }
                }
            }
            .page-404__404 {
                font-size: 200px;
                line-height: 200px;
                padding-right: 80px;
                &::after {
                    content: "";
                    background-size: cover;
                    width: 75px;
                    height: 146px;
                    margin-left: 15px;
                    top: 100px;
                }
            }
        }
        
        @media (max-width: 640px) {
            .notification__box,
            .message__box {
                display: none;
            }
            .circle__menu {
                right: auto;
            }
            .upload__line {
                display: block;
                label {
                    display: inline-block;
                    margin-bottom: 5px;
                }
            }
            .upload__inner button {
                margin-left: 45px;
            }
            .contact__box {
                display: block;
            }
            .contact__info {
                max-width: 100%;
            }
            .contact__info-content {
                max-width: 100%;
            }
            .contact__map iframe {
                height: 300px;
            }
            .contact__inner {
                padding: 25px 20px 10px;
            }
            .contact__head {
                padding: 15px 20px;
            }
            .contact__map,
            .contact__info-item {
                margin-bottom: 20px;
            }
            .contact__info-title {
                padding-bottom: 15px;
                margin-bottom: 15px;
            }
            .profile__banner-images {
                min-height: 245px;
            }
            .profile__items {
                display: block;
                .profile__item {
                    width: 100%;
                }
                .profile__item+.profile__item {
                    border-left: none;
                    border-top: 1px solid #dedede;
                }
            }
            .personal-box {
                padding: 20px 20px 20px;
            }
            .profile__item {
                padding: 10px 5px 10px;
            }
        }
        
        @media (max-width: 600px) {
            .footer__inner {
                justify-content: space-between;
            }
            .footer__inner {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .page-404__404 {
                font-size: 150px;
                line-height: 200px;
            }
            .page-404__text,
            .page-404__title {
                margin-left: 15px;
                margin-right: 15px;
            }
            .page-404__text {
                font-size: 16px;
            }
            .page-404__title {
                font-size: 26px;
                line-height: 30px;
            }
            .settings__line {
                display: block;
                label {
                    display: inline-block;
                    margin-bottom: 5px;
                }
            }
            .page-box__content {
                padding: 20px 15px 50px !important;
            }
            .page-box__title {
                padding: 18px 15px;
            }
            .settings {
                padding-bottom: 50px;
            }
        }
        
        @media (max-width: 520px) {
            .header__btn-menu {
                display: block;
            }
            .menu__list {
                top: 70px;
            }
            .header__btn-menu {
                width: 70px;
                height: 70px;
                background-color: $bg;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 4;
                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 36px;
                    color: #fff;
                }
            }
            .header__box {
                transition: all .5s;
                position: absolute;
                background-color: #fff;
                height: 70px;
                left: 100%;
                right: -100%;
                z-index: 2;
                &.active {
                    left: 70px;
                    right: 50px;
                }
            }
            .user__menu {
                top: 59px;
            }
            .header__logo {
                margin-left: 60px;
            }
            .menu__btn {
                position: absolute;
                top: 24px;
                div {
                    background-color: $bg;
                }
            }
            .header__top-inner {
                height: 70px;
            }
            .circle__menu {
                top: 52px;
            }
            .withdrawals__content {
                margin-left: 10px;
                margin-right: 10px;
            }
            .withdrawals__content-items {
                overflow-x: scroll;
            }
            .withdrawals__content-item {
                min-width: 490px;
            }
            .upload__inner-content {
                padding-left: 15px;
                padding-right: 15px;
            }
            .upload__inner-title {
                margin-bottom: 20px;
                padding: 10px 15px
            }
            .upload__line {
                margin-bottom: 5px;
            }
        }
        
        @media (max-width: 500px) {
            .user__info {
                display: none;
            }
            .user__images {
                margin-right: 0;
            }
            .footer__col {
                min-width: 100%;
            }
            .footer__col-menu {
                &+& {
                    margin-top: 25px;
                }
            }
            .footer__inner {
                justify-content: space-between;
            }
            .footer__inner {
                padding-top: 50px;
                padding-bottom: 30px;
            }
            .page-404__404 {
                font-size: 100px;
            }
            .about__head {
                padding: 23px 10px;
            }
            .about__inner {
                padding: 0 15px;
            }
            .about__box {
                & h3 {
                    margin-top: 20px;
                }
                & p {
                    margin-bottom: 20px;
                }
            }
            .about__wrapper {
                margin-bottom: 50px;
            }
        }
        
        @media (max-width: 390px) {
            .header__box {
                &.active {
                    left: 47px;
                }
            }
            .baslet__box {
                margin-left: 0;
            }
            .menu__btn {
                left: 10px;
            }
            .basket__box {
                margin-left: 5px;
            }
            .page-404__404 {
                padding-top: 30px;
                padding-right: 50px;
                line-height: 150px;
                &::after {
                    width: 37px;
                    height: 73px;
                    margin-left: 15px;
                    top: 70px;
                }
            }
        }
        
        @media (max-width: 360px) {
            .user {
                margin-right: 10px;
            }
            .basket {
                margin-right: 10px;
            }
            .header__btn {
                width: 62px;
            }
            .circle__menu {
                left: -20px;
            }
        }
        
        @media (min-width: 891px) {
            .menu__list {
                display: block !important;
            }
        }